*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
}

.underline {
  margin: 0 auto;
  width: 7rem;
  height: 0.4rem;
  background-color: #3453e4;
}

nav {
  -webkit-transition: background-color 0.6s;
  transition: background-color 0.6s;
  z-index: 1;
}

nav .navbar-nav {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

nav .navbar-brand {
  color: #3453e4;
  font-size: 2.2rem;
}

nav .nav-link {
  color: white;
  margin-right: 1.2rem;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

nav .nav-link:hover {
  color: #3453e4;
}

nav .fa-bars {
  padding: 1rem;
}

nav .navbar-toggler {
  color: white;
  font-size: 2.2rem;
}

header {
  color: white;
}

header h1 {
  text-transform: uppercase;
  padding-bottom: 1rem;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/hero-mini.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -5;
}

header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 1rem;
  text-align: center;
  z-index: 5;
}

header .btn-outline-light {
  margin-top: 3rem;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: bold;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

header .btn-outline-light:hover {
  color: #3453e4;
}

header .fa-chevron-down {
  position: absolute;
  left: 50%;
  -webkit-transition: translateX(-50%);
  transition: translateX(-50%);
  bottom: 1rem;
  padding: 1rem 0;
  color: #3453e4;
  font-size: 3rem;
}

#aboutus {
  scroll-margin-top: 7.3rem;
}

.aboutus-box {
  margin-top: 7rem;
}

.aboutus-box .cards-option {
  margin: 1rem 0;
  -webkit-box-shadow: 5px 5px 10px #2e2e2e2e;
          box-shadow: 5px 5px 10px #2e2e2e2e;
  overflow: hidden;
}

.aboutus-box .cards-option .cards-option-img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.aboutus-box .cards-option .cards-option-img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.aboutus-box .cards-option .cards-option-info {
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
}

.aboutus-box .cards-option .cards-option-info .cards-option-heading {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}

@media (min-width: 360px) {
  header h1 {
    font-size: 2rem;
  }
  header h2 {
    font-size: 1.4rem;
  }
  .aboutus-box .cards-option .cards-option-info {
    font-size: 1.2rem;
  }
  .aboutus-box .cards-option .cards-option-info .cards-option-heading {
    margin-bottom: 0.5rem;
    font-size: 3rem;
  }
}

@media (min-width: 576px) {
  header h1 {
    font-size: 2.5rem;
  }
  header h2 {
    font-size: 1.8rem;
  }
}

@media (min-width: 768px) {
  header h1 {
    font-size: 2.8rem;
  }
  header h2 {
    font-size: 2rem;
  }
  .aboutus-box .cards-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 2rem 0;
    width: 100%;
  }
  .aboutus-box .cards-option .cards-option-img {
    width: 50%;
    height: auto;
  }
  .aboutus-box .cards-option .cards-option-img-right {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .aboutus-box .cards-option .cards-option-info {
    font-size: 1.6rem;
  }
  .aboutus-box .cards-option .cards-option-info .cards-option-heading {
    margin-bottom: 0.5rem;
    font-size: 3.6rem;
  }
  .aboutus-box .cards-option .cards-option-info .cards-option-text {
    padding-top: 2rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  header h1 {
    font-size: 3.2rem;
  }
  header h2 {
    font-size: 2.2rem;
  }
  header .hero-img {
    background-image: url("../img/hero-big.jpg");
  }
  .aboutus-box .cards-option .cards-option-info .cards-option-text {
    font-size: 1.4rem;
  }
}

@media (min-width: 1200px) {
  .aboutus-box .cards-option .cards-option-info .cards-option-text {
    font-size: 1.6rem;
  }
}
/*# sourceMappingURL=style.css.map */